[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = RajaMuhammadAwais
	email = 1.19938988e+08+RajaMuhammadAwais@users.noreply.github.com
